@import "vars";
@import "mixins";

@import "header";


* {
	margin: 0;
	padding: 0;
}

body {
	/*width: 320px;
	height: 480px;*/
	font-family: $font;
	text-transform: lowercase;
	background-color: $white;
}

button {
	padding: 15px;
	border-radius: 12px;
	border: none;
	color: $white;
	background-color: $blue;
	font-size: 24px;
	font-family: $font;
	cursor: pointer;
}

#appContent {
	margin: auto;
	width: 320px;
	height: 480px;
	border: 2px solid black;

	.angrm-app-page {


	}
}

#wordBox {
	position: relative;
	display: table;
	padding: 20px 25px;
	border-radius: 12px;
	margin: 10px auto;
	border: 4px solid #2C3E50;
}

#scoreBox {
	text-align: center;
	font-size: 32px;
}

#timeBox {
	text-align: center;
	font-size: 40px;
}

#controlsBox {
	text-align: center;
}

#wordList {
	overflow: hidden;
	text-align: center;
	list-style-type: none;

	li {
		display: inline;
		margin-right: 5px;
		float: left;
	}
}

#faderWhite {
	border-radius: 12px;
	text-align: center;
	background-color: rgba(236, 240, 241, 0.4);

	div {
		font-size: 50px;
	}

	button {
		font-size: 50px;
		margin-top: 12px;
	}
}

.angrm-letter-box {
	width: 38px;
	height: 38px;
	background-color: $darkYellow;
	font-size: 28px;
	color: #edf0f1;
	text-align: center;
	border-radius: 12px;
	cursor: move;
}